/* Anvend Inter som standard font */
* {
	font-family: 'Inter', sans-serif;
}

body {
	background-color: #f7f7f7;
	margin: 0;
}

p,
h1,
h2,
h3 {
	margin: 0;
}

h1,
h2 {
	font-weight: 400;
}

header {
	background-color: #ffffff;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	position: fixed;
	width: 100%;
	z-index: 99;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 0 20px 0 5px;
}

#header-logo {
	padding: 10px;
}

.location-icon {
	padding: 10px;
}

main {
	padding: 30px 0 60px 0;
}

#overview-weather {
	background-color: #ffffff;
	margin: 30px 8px 8px 8px;
	padding: 35px 44px 54px 33px;
}

#row-1 {
	display: flex;
	align-items: center;
	width: 100%;
}

#location-title {
	width: 100%;
	display: flex;
	justify-content: center;
}

#row-2 {
	width: 100%;
	height: 104px;
	display: flex;
	align-items: end;
}

#col-1,
#col-2,
#col-3 {
	width: 33.3333333333%;
	display: flex;
	align-items: center;
}

#col-1 {
	position: relative;
	bottom: -1px;
}

#col-2 {
	justify-content: center;
}

#col-3 {
	justify-content: end;
	position: relative;
	bottom: -2px;
}

#time {
	position: absolute;
	font-size: 10px;
	margin-top: 5px;
}

.temperature {
	font-size: 40px;
	font-family: 'Inter', sans-serif;
	font-weight: 500;
	color: #484848;
	margin: 0;
}

.temperature-feels-like,
.amount-of-rainfall-mm,
.uv-index,
.local-ocean-temp {
	font-size: 10px;
}

.temperature-feels-like {
	font-size: 10px;
}

.local-parametor-container {
	line-height: 1.5;
}

#col-3 .wind-speed {
	padding-left: 3px;
}

.amount-of-rainfall-mm::before {
	content: url('../upload/svg/umbrella-icon.svg');
	padding: 0 3px;
}

.uv-index::before {
	content: url('../upload/svg/sun-icon.svg');
	padding: 3px;
}

.local-ocean-temp::before {
	content: url('../upload/svg/ocean-icon.svg');
	padding: 3px;
}

#clothing-recommendations-section {
	background-color: #fff;
	height: 100px;
	margin: 0 0 8px 0;
	padding: 5px 16px 21px;
}

.we-recommend-title {
	text-align: center;
	font-size: 10px;
	font-weight: 500;
}

#advertisement-section {
	background-color: #fff;
	height: 257px;
	margin: 8px 8px 0 8px;
	padding-top: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 8px;
	font-weight: 400;
	color: #787878;
}

#overview-next-following-days {
	background-color: #ffffff;
	margin: 8px 8px 0 8px;
	padding: 28px 8px 1px 8px;
}

#row-3 {
	margin-bottom: 14px;
	text-align: center;
}

.weather-table thead {
	margin-bottom: 8px;
}

.weather-table {
	width: 100%;
	border-collapse: collapse;
	/*border-spacing: 0;*/
}

.weather-table tbody tr {
	border-top: 2px solid #787878;
}

.weather-table tbody tr:nth-child(1) td {
	border-top: 2px solid rgba(0, 0, 0, 0);
}

.day-title,
.morning-title,
.early-evening-title,
.late-evening-title,
.afternoon-title {
	font-size: 10px;
	font-weight: 500;
}

.day-timespan-title,
.morning-timespan-title,
.early-evening-timespan-title,
.late-evening-timespan-title,
.afternoon-timespan-title {
	font-size: 8px;
	font-weight: 300;
}

.day-title,
.day-timespan-title {
	text-align: left;
}

.day-title,
.day-timespan-title,
.day-info {
	padding: 8px 8px 5px 16px;
}

.day-info {
	width: 0;
}

.day-info .day {
	font-size: 12px;
	font-weight: 600;
	color: #484848;
}

.day-info .temp,
.wind-speed,
.wind-direction {
	font-size: 10px;
}

.wind-speed::before {
	content: url('../upload/svg/wind-icon.svg');
	padding-right: 3px;
}

.weather-icon {
	text-align: center;
}

.afternoon-title,
.afternoon-timespan-title,
.weather-icon-afternoon {
	text-align: right;
	padding-right: 10px;
}

.weather-table tbody tr:nth-child(even) td {
	background-color: #dddddd;
}

.weather-table tbody tr:nth-child(odd) td {
	background-color: #f1f1f1;
}

#row-4 {
	text-align: center;
	margin: 9px 0 15px 0;
	line-height: 1.5;
}

.forcarst-update-disclaimer {
	font-size: 10px;
}

.forcarst-src-disclaimer {
	font-size: 8px;
	color: #a9a9a9;
}

footer {
	background-color: #c5c5c5;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 40px 0;
	font-size: 10px;
	line-height: 3;
}

footer a {
	color: #787878;
}

/* =======================================
   *          🟠 time sectiom 🟠
   *    ➔ her er den fjerde section
   * ======================================= */

.time-container {
	/* color: var(--gray-dark); */
	font-size: 10px;
	font-family: 'Inter', sans-serif;
	font-weight: 500;
	position: relative;
	background: white;
	margin: 8px 8px 0 8px;
	padding: 28px 8px 1px 8px;
	/* Tilføjet lidt padding */
}

.time-container table {
	width: 100%;
	/* Sørger for at tabellen fylder hele containeren */
	border-collapse: collapse;
	/* Fjerner mellemrum mellem cellerne */
}

.time-container table tr {
	text-align: center;
	border-bottom: 1px solid #787878;
	/* Grå linje i bunden af hver række */
}

.time-container table td {
	padding: 5px;
	/* Giver lidt plads omkring teksten */
}

.time-container table th {
	text-align: center;
	padding: 5px;
	/* Giver lidt plads omkring overskrifterne */
	background-color: var(--white);
	/* Valgfrit: Giver en baggrundsfarve til overskrifter */
	/* text-align: left; Venstrejusterer tekst i overskrifter */
}

.line {
	width: 100%;
	background: #787878;
}

.line-thick {
	height: 40px;
}

.dark-line {
	background: #484848;
}

.box {
	width: 100%;
	position: absolute;
	background: #dddddd;
}

.gray-box {
	background: #dddddd;
}

.light-gray-box {
	background: #f1f1f1;
}

.border-box {
	width: 100%;
	height: auto;
	/* Justeret til auto for at tilpasse indholdet */
}

.temperature-box,
.number,
.time-box {
	color: #484848;
	font-size: 10px;
	font-family: 'Inter', sans-serif;
	font-weight: 500;
}

.weather-box {
	font-size: 10px;
	color: #484848;
	font-family: 'Inter', sans-serif;
	font-weight: 500;
	text-align: center;
	/* Centrerer teksten */
}

#date {
	text-align: center;
	/* Centrerer teksten */
	margin: 10px 0;
	/* Giver lidt plads over og under */
	font-size: 16px;
	/* Valgfrit: Juster størrelsen på teksten */
	font-weight: bold;
	/* Valgfrit: Gør teksten fed */
}

.expand {
	color: white;
	font-size: 6px;
}

.dot {
	width: 11px;
	height: 11px;
	/* background: #787878; */
}

.line-light {
	background: #f1f1f1;
	/* Lys farve */
}

.line-dark {
	background: #dddddd;
	/* Mørkere farve */
}